

$yellow:#EDFE33;
$black: #000;
$green: green;
$color-body: $yellow;
$color-border: $black;
$color-button: $yellow;
$color-button-text: $black;

$color-complete: $black;
$color-checkbox: rgba(0, 0, 0, 0.33);
$color-checkbox-checked: $green;
$color-item: darken($yellow, 30%);

$margin-element: 24px;

$font: 'Montserrat', sans-serif;

@mixin placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

h1 {
  margin-bottom: 16px;
  font-size: 36px; 
  font-weight: 700; 
  letter-spacing: 1px; 
  line-height: 1.2; 
  color: $black; 
  margin-bottom: 16px;
}


body {
  position: relative;
  height: 100%;
  padding: 8%;
  margin: 0;
  background: lighten($color-body, 10%);
  box-shadow: inset rgba(black, 0.2) 0 0 100px;
}

.main-div {
  padding:16px;
  margin: auto;
  padding: $margin-element;
  font-family: $font;
  font-size: 18px;
  line-height: 22px;
  background: white;
  border-radius: 8px;
  box-shadow: rgba(black, 0.2) 0 20px 20px -12px;
  max-width: 1366px;
  
}
p {
  font-size: 14px;
  margin-bottom: $margin-element;
}

form > div {
  display: block;
  margin-bottom: $margin-element;
  input {
    width: 80%;
    margin-bottom: 6px;
  }
  @media (min-width: 440px) {
    display: flex;
    input {
      width: auto;
      flex-grow: 2;
      margin-right: 6px;
      margin-bottom: 0;
    }
  }
}

button {
  padding: 12px 20px;
  font-family: $font;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  background: $color-button;
  color: $color-button-text;
  box-shadow: inset darken($color-button, 20%) 0 -2px 0;
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s ease-out;
  border-radius: 0;
  border-radius: 15px;
 
}
button:disabled {
  background-color: #ccc; 
}

input {
  padding: 10px;
  font-family: $font;
  font-size: 18px;
  outline: none;
  border: 1px solid $color-border;
  transition: border 0.2s ease-out;
  border-radius: 8px;
  box-shadow: none;
  @include placeholder {
    color: lighten($black, 5%);
    transition: opacity 0.2s ease-out,
      transform 0.2s ease-out;
  }
  &:focus {
    border: 1px solid $black;
    @include placeholder {
      opacity: 0;
      transform: translateX(12px);
    }
  }
}

input[type="checkbox"] {
  position: absolute;
  top: 0; right: 0; bottom: 0;
  margin: auto;
  display: none;
  + label {
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0;
    margin: auto;
    width: 24px;
    height: 24px;
    background: $color-checkbox;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 
      inset lighten($color-checkbox, 15%) 0 0 0 2px,
      inset white 0 0 0 4px;
    transition: box-shadow 0.1s ease-out;
    &:before {
      width: 0;
      height: 0;
    }
    &:after {
      opacity: 0;
      content: "";
      position: absolute;
      top: -2px; right: 0; bottom: 0; left: 0;
      margin: auto;
      width: 3px;
      height: 8px;
      border-right: 3px solid white;
      transform: rotate(90deg);
      transition: opacity 0.2s ease-out;
    }
    &:hover {
      box-shadow: 
      inset $color-checkbox 0 0 0 12px,
      inset white 0 0 0 12px;
      &:after {
        opacity: 1;
      }
    }
  }
  &:checked {
    + label {
      background: transparent;
      box-shadow: none;
      animation: bounce 0.4s linear;
      &:before {
        content: "";
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        background: $color-checkbox-checked;
        border-radius: 100%;
      }
      &:after {
        opacity: 1;
        border-bottom: 3px solid white;
       
      }
    }
  }
}

ul {
  margin: 0 0 $margin-element;

  li {
    color: $color-item;
    position: relative;
   
    .text-task {
      display: block; 
      font-family: 'Roboto', sans-serif; 
      font-weight: 500; 
      letter-spacing: 0.5px; 
      font-size: 16px;
      line-height: 1.5;

    }
    margin-bottom: 8px;
  }
}

i {
  margin-left: 16px;
  text-decoration: none !important;
  color: $black;
}

.completed {
  text-decoration: line-through;
}

